/* 夜间模式配色 */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #202020;
  --md-primary-fg-color--dark: #202020;
  --md-default-fg-color: rgba(235, 235, 235, 0.9);
  --md-default-fg-color--light: rgba(255, 255, 255, 0.7);
  --md-default-fg-color--lighter: rgba(255, 255, 255, 0.8);
  --md-default-fg-color--lightest: rgba(255, 255, 255, 0.4);
  --md-default-bg-color: rgba(40, 40, 40, 0.5);
  --md-accent-fg-color:  #93d2ce;
  --md-code-bg-color: rgba(40, 40, 40, 0.8);
  --md-code-hl-name-color: #dbdbdb;
  --md-code-hl-comment-color: #8a8c94;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, rgba(30, 30, 30, 1) 0%, rgba(70, 70, 70, 1) 100%);
  /*设置渐变颜色*/
}
